@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html, body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
	font-weight: 400;
}

body {
    margin: 0;
    padding: 15px;
}

h1 {
	text-align: center;
}

#button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ei-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#code {
    font-family: "Source Code Pro", monospace;
    color: black;
}

#error-container {
    font-size: 1.1rem;
}

#success-container {
    font-size: 1.1rem;
}

ul {
    margin: auto;
    padding: 0;
    min-width: 350px;
    max-width: 50%;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
}

.response-key {
    text-align: left;
}

.response-value {
    text-align: right;
}

#paste-meta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meta-wrapper {
    font-size: 1.05rem;
    font-weight: 600;
}

#error-wrapper {
    margin-top: 2rem;
}
